html, body{ height:100%; margin:0; }

/*Layout Flexivel rodapé fixo no fundo da página*/
body{ 
    display:flex; 
    flex-direction:column;
}
footer{
    margin-top:auto; 
}


/*Designe do header*/
header{
    position: fixed;
    width: 100%;
    height:50px;
    z-index: 10;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    background-color: #344f63;
    background-image: -webkit-gradient(linear, left top, right top, from(#22506B), to(#123A52));
    background-image: -webkit-linear-gradient(left, #22506B, #123A52);
    background-image: linear-gradient(to right, #22506B, #123A52);
}
header > div {
    float: left;
}
header .logo {
    padding-top: 7px;
}

.menu-button-toggle {
    font-size: 30px;
    line-height: 50px;
    text-decoration: none;
    color: white;
    padding: 0 15px;
    display: block;
}
.menu-button-toggle:hover {
    background-color: rgba(255,255,255,0.1);
}
header .extras {
    float: right;
    margin-right: 20px;
}
header .extras a{
    color: white;
    text-decoration: none;
}

header .extras .extras-item {
    font-size: 20px;
    padding: 15px;
}
header .extras .extras-item:hover {
    background-color: rgba(255,255,255,0.1);
}


/*Ajusta o main para ficar abaixo do header*/
main {
    margin-top: 50px;
    padding: 20px;
}


/*Ajustes do footer*/
footer{
    min-height:50px;
    background:#eee;
}
footer .copyright {
    text-align: center;
    line-height: 50px;
}


/*Configurações da navbar*/
/* Adiciona transição suave na sidebar */
nav.sidebar, main, footer { 
    transition: margin 0.5s;
}
nav.sidebar { 
    width: 250px;
    height: 100%;
    top: 50px;
    transition: left 0.5s;
    position: fixed;
    overflow: auto;
    background-color: #142837;
    z-index: 10;
}
nav.sidebar a.sidebar-item{
    display: block;
    padding: 20px 0px 20px 10px;
    text-decoration: none;
    color: #eee;
/*    color: #333;*/
}
nav.sidebar a.sidebar-item.active{
    border-left: 8px solid #22506B;
}
nav.sidebar a.sidebar-item:hover{
    background-color: #33779E;
    color: white;
    transition: 0.3s;
}

@media(min-width: 701px) {
    nav.sidebar {
        left: -250px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .sidebar-active nav.sidebar  {
        left: 0px;
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    }
    .sidebar-active main, .sidebar-active footer {
        margin-left: 250px;
    }
}
@media(max-width: 700px) {

    nav.sidebar {
        left: -250px;
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    }
    .sidebar-open nav.sidebar {
        left: 0px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}

nav.sidebar .usuario {
    padding-top: 20px;
    margin-bottom: 20px;
    background-image: -webkit-gradient(linear, left top, right top, from(#57b690), to(#146fab));
    background-image: -webkit-linear-gradient(left top, #57b690, #146fab);
    background-image: linear-gradient(to right bottom, #33779E, #22506B);
    color: white;
}

nav.sidebar .usuario  .foto{
    width: 60px;
    height: 60px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 0px 2px #666;
}
nav.sidebar .usuario  .foto > img{
    width: 56px;
    height: 56px;
    padding: 2px;
    margin: 0 auto;
    border-radius: 50%;
}
nav.sidebar .usuario .nome {
    text-align: center;
    padding: 10px 0 20px 0;
}
